<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domingas.teste">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".cadastro.CadastroUsuario" />
        <activity android:name=".Principal">

        </activity>
        <activity android:name=".cadastro.CadastroGeral" />
        <activity android:name=".cadastro.CadastroMembro" />
        <activity android:name=".BoasVidas" />
        <activity android:name=".MainActivity" />

        <service android:name=".MyFirebaseMessangingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Actividades"></activity>
        <activity android:name=".PrincipalMulher" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Pessoateste" />
        <activity android:name=".cadastro.CadastroCoro" />
        <activity android:name=".Eventos" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".cadastro.CadastroIgreja">

        </activity>
        <activity android:name=".Dizimos"></activity>
    </application>

</manifest>